<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Our Products</title>
</head>
<body>
    <div class="container">
        <nav>
            <h1 id="title">Welcome <%= username %></h1>
            <a class="links" href="/main">CART</a>
            <a class="links" href="/products">PRODUCTS</a>
            <a class="links" href="/products/notebooks">NOTEBOOKS</a>
            <a class="links" href="/products/computers">COMPUTRERS</a>
            <a class="links" href="/chat">SUPPORT</a>
            <a class="links" href="/chat/<%= username %>">PERSONAL MESSAGES</a>
            <form action="/logout" method="POST">
                <input type="submit" value="LOG OUT" />
            </form>
        </nav>
    <h1>OUR PRODUCTS</h1>
    <% if (allProducts !== "") { %>
        <table class="productView">
            <thead>
                <th id="title"> ID </th>
                <th>TITLE</th>
                <th id="title price">PRICE</th>
                <th id="title ">IMAGE</th>
                <th id="title">DESCRIPTION</th>
                <th id="title">CATEGORY</th>
            </thead>
            <tbody>
                <% allProducts.forEach((prod)=> { %>
                <tr>
                    <td ><%= prod.id %></td>
                    <td><%= prod.title %></td>
                    <td class="price">$ <%= prod.price %></td>
                    <td><img style="width: 150px; height:100px" src=<%= prod.thumbnail %>></td>
                    <td><%= prod.description %></td>
                    <td><%= prod.category %></td>
                    <td>
                    <form action="/cart/<%= username %>/products/<%= prod.id %>" method="POST">
                    <input class="button" type="submit" id = "<%= prod.id %>" value="ADD TO CART"></td>
                    </form>
                </tr>
                <% }) %>
            </tbody>
    </table>
    <%}else if (allProducts == ""){%>
            <table class="productView">
                <thead>
                    <th id="title">TITLE</th>
                    <th id="title">PRICE</th>
                    <th id="title">IMAGE</th>
                    <th id="title">DESCRIPTION</th>
                    <th id="title">CATEGORY</th>
                </thead>
        </table>
        <p class="warning">NO PRODUCTS FOUND</p>
    <% } %>

</body>
</html>