<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <h1 id="title">Welcome <%= username %></h1>
            <a class="links" href="/main">CART</a>
            <a class="links" href="/products">PRODUCTS</a>
            <a class="links" href="/products/notebooks">NOTEBOOKS</a>
            <a class="links" href="/products/computers">COMPUTRERS</a>
            <a class="links" href="/chat">SUPPORT</a>
            <a class="links" href="/chat/<%= username %>">PERSONAL MESSAGES</a>
            <form action="/logout" method="POST">
                <input type="submit" value="LOG OUT" />
            </form>
        </nav>
        <div class="CartContainer">
            <% if (productFound != false) { %> 
            <% productFound.forEach((prod)=> { %>
            <div class="cartCard">
                <section><p><%= prod.title %></p></section>
                <section class="descriptionCard">
                    <img
                        style="width: 150px; height: 100px"
                        src="<%=prod.thumbnail%>"/>
                    <p><%= prod.description %></p>
                    <section>
                        <p>$ <%= prod.price %></p>
                        <section>
                            <form action="/cart/<%= username %>/products/<%= prod.id %>/addQtyById" method="POST">
                            <input type="text" placeholder="PLEASTE INTRODUCE QTY, MUST BE 1 OR MORE" name="qty" required>
                            <input class="button" type="submit" id = "<%= prod.id %>" value="ADD TO CART">
                            </form>
                        </section>
                    </section>
                </section>
            </div>
            <%})%>
        </div>
        <% }else if(productFound == false){%>
        <div class="cart">UNEXISTING PRODUCT ID</div>
        <a href="/products">Back To Products</a>
        <% }%>
    </div>
</body>
</html>